body {
  min-height: 100vh;
}
.ant-layout {
  min-height: 100vh;
}

.antd-layout-conten {
  padding: 0 25px;
  @media only screen and (max-width: 768px) {
  }
}

.site-layout-content,
.ant-card {
  padding: 20px;
  background: #fff;
  border-radius: 8px;
  max-width: 1440px;
  margin: auto;
  height: max-content;
  @media only screen and (max-width: 768px) {
    width: 100%;
    max-width: 100%;
    margin: 0px;
  }
  .ant-page-header-heading-extra {
    display: flex;
  }
}

.ant-spin-spinning {
  opacity: 1;
  display: flex !important;
  justify-content: center;
  height: 300px;
  align-items: center;
  position: absolute !important;
  width: 90%;
}

.ant-modal-footer {
  display: flex;
  justify-content: flex-end;
}

.space-action {
  display: grid;
  grid-template-columns: 1fr 0.2fr;
  gap: 10px;
  border-bottom: 1px solid #80808030;
  padding: 20px 0px;
}

.btn_add {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 20px 0px;
  h3 {
    margin: 0px;
  }
}

.ant-btn {
  border-radius: 5px;
}

.ant-pagination {
  text-align: center;
  margin: 20px 0px 10px 0px;
}

.ant-list-item-meta-description,
.ant-list-item-meta-title {
  word-break: break-word;
}

.ant-list-item-meta {
  align-items: center;
}

.antd-image,
.ant-list-item-meta-avatar {
  width: 100px;
  height: 80px;
  @media only screen and (max-width: 582px) {
    width: 70px;
    height: 50px;
    object-fit: cover;
  }
}

.detail-blog {
  .ant-image {
    width: 100%;
  }
}

.ant-image-img {
  border-radius: 8px;
}
